.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
dist/
node_modules/
.next/
coverage/
.vscode/settings.json
*.log
*.mongodb
NOTES.txt
test.json
npm-debug.log*
tsconfig.tsbuildinfo
ByBenefitType_expanded.xlsx
E_TRADE - Stock Plan Orders.pdf